/lib/neolib.lib
/lib/neolibd.lib
/build/win32/vs2019/x64
/build/win32/vs2019/neolib.vcxproj.user
/build/win32/vs2019/Debug
/build/win32/vs2019/Release
/build/win32/vs2019/x64/Release
/unit_tests/NoFussJSON/build/win32/vs2019/NoFussJSONTest/.vs
/unit_tests/NoFussJSON/build/win32/vs2019/NoFussJSONTest/Debug
/unit_tests/NoFussJSON/build/win32/vs2019/NoFussJSONTest/Release
/unit_tests/NoFussJSON/build/win32/vs2019/NoFussJSONTest/x64
/unit_tests/NoFussJSON/build/win32/vs2019/NoFussJSONTest/My Amplifier Results - NoFussJSONTest/My Amplifier Results - NoFussJSONTest.amplxeproj
/unit_tests/NoFussJSON/build/win32/vs2019/NoFussJSONTest/NoFussJSONTest.vcxproj.user
/unit_tests/Containers/.vs
/unit_tests/Containers/x64
/unit_tests/Containers/Containers.vcxproj.user
/unit_tests/Event/build/win32/vs2019/Event/x64
/unit_tests/Event/build/win32/vs2019/Event/Debug
/unit_tests/Event/build/win32/vs2019/Event/Event.vcxproj.user
/build/win32/vs2019/.vs
/stage
/build/win32/vs2017/Debug
/build/win32/vs2017/Release
/build/win32/vs2017/x64/Debug
/build/win32/vs2017/x64/Release
/unit_tests/NoFussJSON/build/win32/vs2017/NoFussJSONTest/Debug
/unit_tests/NoFussJSON/build/win32/vs2017/NoFussJSONTest/*.user
/build/win32/vs2017/.vs/neolib/v15
/build/win32/vs2017/*.user
/unit_tests/NoFussJSON/build/win32/vs2017/NoFussJSONTest/.vs/NoFussJSONTest/v15
