/build/win32/vs2013/Debug
/build/win32/vs2013/Release
/build/win32/vs2013/neolib.sdf
/build/win32/vs2013/neolib.v12.suo
/lib/neolib.lib
/lib/neolibd.lib
/build/win32/vs2015/neolib.v12.suo
/build/win32/vs2015/neolib.sdf
/build/win32/vs2015/Debug
/build/win32/vs2015/Release
/build/win32/vs2015/.vs/neolib/v14/.suo
/build/win32/vs2015/neolib.vcxproj.user
/build/win32/vs2015/x64/Release
/build/win32/vs2015/x64/Debug
/build/win32/vs2015/My Amplifier Results - neolib/*.amplxeproj
/build/win32/vs2017/Release
/build/win32/vs2017/neolib.vcxproj.user
/build/win32/vs2017/Debug
/build/win32/vs2017/x64/Debug
